* {
  font-family: "Poppins", sans-serif;
}

/* BODY */
body {
  margin: 0;
  padding: 0;
}

/* NAVBAR */
#navBar {
  font-size: 25px;
}

#navBar-brand {
  font-size: 25px;
}

.nav-link {
  color: black;
  margin-right: 20px;
}

/* HEADER */

header {
  position: sticky;
  top: 0;
  background-color: #fff; /* You can change the background color to your preference */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Optional - adds a subtle shadow */
  z-index: 1000; /* Ensures the header is above other elements */
  overflow: hidden; /* Hides scrollbars */
}

header img {
  width: 100%; /* Ensure the image fills its container */
}

/* You may want to add more styles to the header content, e.g., padding, margin, text color, etc. */

/* CONTENTS */

p {
  font: 50px;
}

/* CONTENT 2 */

.-sctn-welcome {
  text-align: center;
  max-width: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* USEFUL LINK */

.-sctn-welcome {
  background-image: url("images/useful-links.svg");
  background-size: 100% 100%; /* Make the background image responsive */
  background-repeat: no-repeat;
  background-position: center center;
  height: 62vh;
  max-width: 100%;
  /* Additional styles for the section content, such as padding, color, etc. */
}

/* BUTTON */

/* Default styles for larger screens */
.-dv-btn {
  text-align: center;
}

.-dv-btn a {
  background: #ec1c24;
  border: 4px solid #000;
  font-size: 29px;
  color: #000;
  margin-right: 5px;
  margin-left: 5px; /* Adjust the margin to your preference */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .-dv-btn {
    text-align: center;
  }

  .-dv-btn a {
    font-size: 16px; /* Adjust the font size for mobile */
    display: block; /* Make the buttons full-width on smaller screens */
    margin: 5px 0; /* Adjust the margin for mobile */
  }
}
